{% extends "base.html" %}
  {% block body %}
    <nav id="top">
    <div class="nav-wrapper teal">
      <div class="container">
      <a href="#" class="brand-logo"><span class ="logo-large"> Text<span class ="logo-half">In</span> </span></a>
    </div>
    </div>
  </nav>
    <div class="parallax-container" id="index-banner">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center"><span class ="logo-xl"><span class="col-white">TextIn</span> </span></h1>
          <div class="row center">
            <h5 class="header col s12 light col-white">Happy Learning :) </h5>
          </div>
          <div class="row center">
            <a href="#translate" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
          </div>
          <br><br>
        </div>
      </div>
      <div class="parallax"><img src="../static/images/parallax4.jpg"></div>
    </div>
    <div class = "section white">
      <div class="row container">
      <h1> What is This? </h1>
      <p class="oswald"> With the continual expansion of the Internet and social media on the rise, it has become increasingly important for businesses and organizations to provide multilingual content on their website.
      The TextIn Website Translator service can help to broaden exposure by providing a fast and economical way to translate any educational website content. </p>
    </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="../static/images/parallax3.jpg"></div>
    </div>
    <div class = "section white" id ="translate">
        <i class="material-icons large icon left">settings</i>


        <h1> Translate </h1>
    <form class="col s12" action="" method="POST">
      <div class="row">
        <div class="input-field col s10 align-left">
          <i class="material-icons prefix">language</i>
          <input placeholder="http://example.com" name = "url" type="text" class="validate">
          <label for="url" name="url">URL</label>
          </div>
          <div class="input-field col s6 m6 l2">
           <select id="lang" name="lang">
             <option value="hi" selected>Hindi</option>
             <option value="ml">Malayalam</option>
             <option value="mr">Marathi</option>
             <option value="pa">Punjabi</option>
             <option value="ta">Tamil</option>
             <option value="te">Telugu</option>
           </select>
           <label>Languages</label>
         </div>
         <div class="row center">
          <button class="btn waves-effect waves-light" type="submit" name="submit"> Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
        </div>
      </form>
    </div>
{% endblock %}
